*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    width: 100%;
    background-color: #FAEAE3;
    font-size: 14px;
    


            .wrapper{
                max-width: 500px;
                min-height:100vh;
                margin:5% auto;
                
                

                .grid-wrapper{
                    display: flex;
                    

                    .subimg{
                        .fordt{
                            max-width: 100%;
                            height: 380px;
                            border-radius: 10px 0px 0px 10px;
                
                        }
                        .formobile{
                         display: none;
                        }
                        
                    }

                    .content{
                        max-width: 50%;
                        background-color: #fff; 
                        height: 380px; 
                        border-radius: 0px 10px 10px 0px;
                        .perfume{
                        padding:25px 25px 0px 25px;
                       

                       h3{
                            font-family: 'Montserrat';
                            font-size: 0.6em;
                            letter-spacing:4px;
                            opacity: 70%;
                        }
                        h1{
                            margin-top: 20px;
                            font-family: 'Fraunces';
                            line-height: 0.9;
                        }
                        p{
                            margin-top: 20px;
                            opacity: 70%;
                            line-height: 20px;
                        }
                        #price{
                            
                            margin-top:20px;
                            display: flex;
                            span{
                                font-size: 2em;
                                font-family: 'Fraunces';
                                color:hsl(158, 36%, 37%);
                            }
                            del{
                                margin: 17px 0px 0px 15px;
                                font-size: 0.8em;
                                line-height: 3px;
                                font-family: 'Montserrat';
                                opacity:70%;
                            }
                        }
                        .forbtn{
                            margin-top: 25px;
                            background-color: hsl(158, 36%, 37%);
                            padding:10px;
                            display: block;
                            border-radius: 5px;

                        .btn{
                            display:flex;
                           margin: 0 auto;
                           justify-content: center;
                           align-items: center;
                           color: #fff;
                           cursor: pointer;
                             
                        }
                    }
                    }

                    }
                    
                }
            }

            footer{
                margin-top: 10px;
                border-radius: 10px;
                width: 100%;
                height: 50px;
                background-color: hsl(230, 47%, 64%);
                .attribution{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items:center ;
                    color: #fff;
                    font-family:'Montserrat';
                    a{
                        text-decoration: none;
                        color:aquamarine;
                    }
                }
            }

            
        }

        @media (max-width:600px){
            body{
            .wrapper{
                margin:5% 15%;
                
                .grid-wrapper{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto;
                    
                        .subimg{         
                          .fordt{
                            display: none;
                            }
                          .formobile{
                                display: block;
                                border-radius: 10px 10px 0px 0px;
                                position: relative;
                                width: 100%;                                                  
                              }   
                         }
                    .content{
                        position: relative;
                        grid-column: 1;
                        min-width: 100%;
                        height: 110%;
                        border-radius: 0px 0px 10px 10px;
                       .perfume{
                        .forbtn{
                            margin-top: 20px;
                           
                         }
                     }
                    }
                    
                }
            }

            footer{
                margin-top: 43px;
              
            }
        }
    }